div#header
	nav#top
		ul.header-icons
			li
				a(href="https://www.linkedin.com/in/paul-kuttiya-1105692a/")
					i(class="profile fa fa-linkedin-square")
			li
				a(href="https://github.com/pookzzz2231")
					i(class="profile fa fa fa-github")
			li
				a(href="https://github.com/pookzzz2231/music-store")
					i(class="profile fa fa-file-code-o")
		ul.header-links
	nav#bottom
		div#title
			h3
				i(class="fa fa-music")
				a(href="/") Music Store
		div.header-icons
			#cart