include /_mixins

doctype html
html
  head
    title Music Store
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen")
    +stylesheet_font_awesome
    +stylesheet_link("application")
    +javascript_include("vendor/all")
    +javascript_include("handlebars_templates")
  body
    include ./partials/nav
    main
      block content

    +javascript_include("application")
    +javascript_include_models("album", "user")
    +javascript_include_collections("albums", "cartItems")
    +javascript_include("views/index")
    +javascript_include_albumView("album", "new", "edit")
    +javascript_include_userView("signup", "login", "user")
    +javascript_include_cartView("cart")
    script(type="text/javascript").
      App.albums = new Albums(!{JSON.stringify(albums)});
      App.user = new UserModel(!{(user)});
    +javascript_include("router")
    block script