div#header
	nav#top
		ul.header-icons
			li: a(href=""): i sc
			li: a(href=""): i sc
			li: a(href=""): i sc
			li: a(href=""): i sc	
		ul.header-links
	nav#bottom
		ul.header-links
			li: a(href="") Home
			li: a(href="") About
			li: a(href="") Contact
		div.header-icons
			#cart