div#header
	nav#top
		ul.header-icons
			li
				a(href="https://www.google.com")
					i(class="profile fa fa-linkedin-square")
			li
				a(href="https://www.google.com")
					i(class="profile fa fa fa-github")
			li
				a(href="https://www.google.com")
					i(class="profile fa fa-file-code-o")
		ul.header-links
	nav#bottom
		div#title
			h3
				i(class="fa fa-music")
				p Music Store
		div.header-icons
			#cart