div#header
	div#logo
		a(href=""): img(src="http://placehold.it/125x75")
	nav#top
		ul.header-links
			li: a(href="/user/login") Login
			li: a(href="/user/signup") Sign Up
		ul.header-icons
			li: a(href=""): i sc
			li: a(href=""): i sc
			li: a(href=""): i sc
			li: a(href=""): i sc
	nav#bottom
		ul.header-links
			li: a(href="") Home
			li: a(href="") About
			li: a(href="") Contact
		div.header-icons
			span#cart: a cart