@import "whitespace-reset.css"
@import "mixins"
@import "form"

body
	font-style()
a
	text-decoration: none
a#new.button
	display: block
	float: right
	width:32px
	height:32px
	background-color: colors.red
	color: colors.white
	font-size: 1.6em
	border-radius: 50%;
	&:hover
		transform: scale(1.1)
		-webkit-filter: brightness(80%)	
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
		-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
		box-shadow: 0px 0px 5px rgba(0,0,0, .75);

.profile
	font-size: 1.5em

#header
	li
		display: inline-block
	nav#top
		overflow: hidden
		background: colors.black
		.header-links
			margin: 0 15px 0 0
			float: right
		.header-icons
			margin: 0 0 0 15px
			float: left
		a
			color: colors.white
			display: block
			padding: 10px
			&:hover
				color: colors.red		
	nav#bottom
		#title
			float: left
			font-size: 1.75em
			line-height: 50px
			margin: 0 0 0 25px
			p
				display: inline-block
				margin: 0 0 0 10px
		&:after
			content: "."
			visibility: hidden
			height: 0
			display: block
			clear: both
		border-bottom: 1px solid colors.border	
		.header-links
			float: left
		.header-icons
			margin: 0 15px 0 0
			float: right
		#cart
			color: colors.black
			display: block
			padding: 20px 10px
			border-right: 1px solid colors.border
		a
			color: colors.grey
			margin: 0 0 0 10px	
			&:hover
				color: colors.red
		#cart
			text-align: right
			border: none
			position: relative
			label
				display: inline-block
				width: 100%
				cursor: pointer
			input
				display: none
				&:checked + #items
					display: block
			#items
				border: 1px solid colors.border
				border-bottom: 2px solid colors.red
				display: none
				padding: 5px
				position: absolute
				top: 100%
				right: 0
				z-index: 1
			li
				text-align: left
				width: 200px
			#remove
				margin: 0 5px 0 0
				color: colors.red
				font-weight: bolder
				&:hover
					cursor: pointer
			small
				float: right

main
	clear: both
	text-align: center
	width: 90%
	margin: 0 auto
	padding: 20px
	h1
		clear: both
		font-size: 3em
		padding: 10px
		+ span
			width: 200px
			height: 2px
			display: block
			background: colors.red
			margin: 0 auto 1em auto;
	p+img
		display: block
		width: 100%
		padding: 0
		margin: 5px 0
		border-radius: 3px
		transition: all .2s ease-in-out;
		&:hover
			transform: scale(1.05)
			-webkit-filter: brightness(25%)
	li
		position: relative
		font-size: 0.9em
		display: inline-block
		vertical-align: top
		min-height: 300px
		width: 20%
		padding: 10px 20px 20px 20px
		margin: 15px
		border: 1px solid colors.border
		*:not(img)
			padding: 2px
		p:first-of-type
			font-weight: bold
			color: colors.red
		a.button
			position: absolute
			right: 5px
			bottom: 5px
			transition: all .2s ease-in-out;
			img
				width: 25px
				height: 25px
			&:hover
				transform: scale(1.2)
				-webkit-filter: brightness(80%)