form
	width: 50%
	margin: 0 auto
	padding: 20px
	h3
		margin: 0 0 20px 0
	fieldset
		padding: 0 0 20px 0
	dt
		padding: 0 0 5px 0
		color: colors.red
		font-size: 1.25em
		font-weight: bold
		text-align: left
	dd
		padding: 0 0 10px 0
		input
			font-style()
			font-size: 1em
			box-sizing: border-box
			height: 30px
			width: 100%
			border-radius: 6px
			padding: 5px 8px
			border: 1px solid colors.grey
	fieldset.actions
		a.button,
		button,
		input.button
			box-sizing border-box
			display inline-block
			color: colors.white
			background-color: colors.red
			height: 30px
			padding: 5px 15px
			border-radius: 6px
			border: none
			box-shadow: 0 0 1px 1px colors.red
			margin: 0 10px 0 0
			vertical-align: middle
			&:hover
				cursor: pointer
				transform: scale(1.05)
				-webkit-filter: brightness(85%)