<h1>Log in</h1>
<form action="/users/login" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="username">Username</label>
      </dt>
      <dd>
        <input id="username" type="text" name="username" placeholder="Username" required>
        <input type="submit" hidden>
      </dd>
      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <input type="submit" hidden>
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input id="login" class="button" type="submit" name="login" value="login">
    <a href="/" class="button" id="cancel">Cancel</a>
  </fieldset>
  <h3>Have no account?</h3>
  <fieldset class="actions">
    <a href="/users/signup" class="button" id="signup">Sign Up</a> 
  </fieldset>    
</form>