<h1>Sign Up</h1>
<form action="/users/signup" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="username">Username</label>
      </dt>
      <dd>
        <input id="username" type="text" name="username" placeholder="Username" required>
        <input type="submit" hidden>
      </dd>
      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <input type="submit" hidden>
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input id="signup" class="button" type="submit" name="signup" value="signup">
    <a href="/" class="button" id="cancel">Cancel</a>
  </fieldset>
  <h3>Already have an account?</h3>
  <fieldset class="actions">
    <a href="/users/login" class="button" id="login">Login</a> 
  </fieldset>  
</form>