<h1>Register</h1>
<form action="/register" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="username">Username</label>
      </dt>
      <dd>
        <input id="username" type="text" name="username" placeholder="Username">
      </dd>
      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input id="password" type="text" name="password" placeholder="Password">
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <a href="/" class="button" id="register">Register</a>
    <a href="/" class="button" id="cancel">Cancel</a>   
  </fieldset>
  <h3>Already have an account?</h3>
  <fieldset class="actions">
    <a href="/" class="button" id="login">Login</a> 
  </fieldset>  
</form>