<h1>Sign Up</h1>
<form action="/users/signup" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="email">Email</label>
      </dt>
      <dd>
        <input id="email" type="email" name="email" placeholder="Email">
      </dd>
      <dt>
        <label for="password">Password</label>
      </dt>
      <dd>
        <input id="password" type="text" name="password" placeholder="Password">
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <a href="#" class="button" id="signup">Sign Up</a>
    <a href="/" class="button" id="cancel">Cancel</a>   
  </fieldset>
  <h3>Already have an account?</h3>
  <fieldset class="actions">
    <a href="/users/login" class="button" id="login">Login</a> 
  </fieldset>  
</form>