{{#admin}}
  <h1>Add Album</h1>
  <form action="/albums" method="post">
    <fieldset>
      <dl>
        <dt>
          <label for="date">Date</label>
        </dt>
        <dd>
          <input id="date" name="date" type="date" required/>
        </dd>
        <dt>
          <label for="cover">Cover</label>
        </dt>
        <dd>
          <input id="cover" name="cover" type="url" placeholder="cover link"/>
        </dd>
        <dt>
          <label for="artist">Artist</label>
        </dt>
        <dd>
          <input id="artist" name="artist" type="text" placeholder="artist name" required/>
        </dd>
        <dt>
          <label for="title">Title</label>
        </dt>
        <dd>
          <input id="title" name="title" type="text" placeholder="album title" required/>
        </dd>
        <dt>
          <label for="price">Price</label>
        </dt>
        <dd>
          <input id="price" name="price" type="text" placeholder="album price" required/>
        </dd>
      </dl>
    </fieldset>
    <fieldset class="actions">
      <input id="create" class="button" type="submit" name="create" value="Create">
      <a href="/" class="button" id="cancel">Cancel</a>
    </fieldset>
  </form>
{{/admin}}
{{#notAdmin}}
  <h1>There is no such page</h1>
{{/notAdmin}}